.container{
    align-items: center;
    justify-content: center;
    font-family: Helvetica, arial, sans-serif;
    background-color: rgb(246, 246, 246);
    display: flex;
}

.h2{
    display: flex;
    font-family: Helvetica, arial, sans-serif;
    background-color: rgb(246, 246, 246);
}
.section1{
    font-size: 20px;
    position: relative;
}
.img{
    direction: rtl;
}
.ptag{
    font-size: 20px;
}