.banner{
    width: 100%;
    position: relative;
}
.centerBox{
    position: absolute;
    top:2%;
    left:4%;
    text-align: center;
    color: rgb(247, 247, 247);
}

.text{
    color:rgb(247, 247, 247);
    font-size: 591%;
    padding: 10%;
}
.texth2{
    margin-top: -14%;
    color: rgb(247, 247, 247);
}